# =========================
# Dataset
# =========================
data/
malaria_dataset/
archive (1)/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Model files (large files)
# =========================

*.hdf5
*.pt
*.pth
*.ckpt

# =========================
# Outputs / results
# =========================
outputs/
*.log
*.csv

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db